body {background-color: #f0f8ff;}

.container {background-color: #ffffff; padding-left: 50px; padding-right: 50px;}

.centertext {text-align: center}

.featureitem h4:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    position: relative;
    margin-right: 10px;
    top: 3px;
    color: #ccc;

}

#initialheader{border-color: #000; border-style: solid; border-width: 1px;}

.closetext {float: right;}

.clickstrong {background-color: #ff4d4d}
.clicksmedium {background-color: #ff8080}
.clicklow {background-color: #ffe6e6 }
.clickverylow {background-color: #ffffff}

.customizationsstrong {background-color: #8080ff}
.customizationsmedium {background-color: #b3b3ff}
.customizationslow {background-color: #e6e6ff}
.customizationsverylow {background-color: #ffffff }

.undefinedstrong {background-color: #39ac39}
.undefinedmedium {background-color: #66cc66}
.undefinedlow {background-color: #c6ecc6}
.undefinedverylow {background-color: #ffffff}

.tabs-and-toolsstrong{background-color:  #ffff33}
.tabs-and-toolsmedium{background-color: #ffff80}
.tabs-and-toolslow{background-color: #ffffcc }
.tabs-and-toolsverylow{background-color: #ffffff}

.form-label{display: block}

.form-group{margin-top: 10px;}
.btn {margin-top: 10px;}



